.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
}
.grid {
    display: flex;
    flex-direction: column;
}

.grid div {
    margin: 10px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; 
}

footer nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}