/* Define a custom font called 'Lunamisa' */
@font-face {
    font-family: Lunamisa;
    src: url(fonts/Lunasima-Regular.ttf); /* Link to the custom font file */
}

/* Apply styles to the entire body of the page */
body {
    font-family: Lunamisa; /* Use the custom font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: rgba(189, 212, 151, 0.4); /* Set the background color */
}

/* Style for the navigation bar container */
.navbar-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; /* Create a grid layout with three columns */
    background-color: #111; /* Set the background color */
}

/* Style for the title container within the navigation bar */
.title-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    color: rgba(217, 83, 49, 1); /* Set the text color */
}

/* Style for the navigation items in the navigation bar */
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Space items evenly horizontally */
    align-items: center; /* Center items vertically */
}

/* Style for navigation links */
.nav-items a {
    text-decoration: none; /* Remove underlines from links */
    color: #ccc; /* Set the text color */
    background-color: #111; /* Set the background color */
    padding: 25px; /* Add padding to the links */
}

/* Style for navigation links on hover */
.nav-items a:hover {
    background-color: #000; /* Change background color on hover */
    transition: 0.3s ease; /* Add a smooth transition effect */
}

/* Style for the "Order Online" button in the navigation bar */
.order-online-button {
    display: flex;
    justify-content: right; /* Align to the right */
    margin-right: 50px; /* Add right margin */
    align-items: center; /* Center items vertically */
}

/* Style for the "Order Online" button link */
.order-online-button a {
    text-decoration: none; /* Remove underlines from the link */
    color: #ccc; /* Set the text color */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    padding: 15px; /* Add padding to the link */
    border-radius: 5px; /* Add rounded corners */
}

/* Style for the "Order Online" button link on hover */
.order-online-button a:hover {
    background-color: rgba(189, 212, 151, 1); /* Change background color on hover */
    color: black; /* Change text color on hover */
    transition: 0.3s ease; /* Add a smooth transition effect */
}

/* Style for the main content container */
.main-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    background-color: rgba(189, 212, 151, 0.4); /* Set the background color */
}

/* Style for each main card within the content */
.main-card {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create a grid with two columns */
    margin-top: 25px; /* Add top margin */
}

/* Style for images within main cards */
.main-card img {
    width: 100%; /* Set the image width to 100% */
    height: 100%; /* Set the image height to 100% */
}

/* Style for the text section within main cards */
.text-section {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    color: white; /* Set text color */
    margin: 0px;
    border: 50px solid rgba(217, 83, 49, 1); /* Add a border */
}

/* Style for the main card's title (h1) */
.text-section h1 {
    font-size: 50px; /* Set the font size */
    text-align: center; /* Center text horizontally */
}

/* Style for the main card's description (h3) */
.text-section h3 {
    font-size: 24px; /* Set the font size */
    text-align: center; /* Center text horizontally */
}

/* Style for links within the text section */
.text-section a {
    text-decoration: none; /* Remove underlines from links */
    color: #ccc; /* Set the text color */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    padding: 15px; /* Add padding to the links */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add a border */
}

/* Style for links within the text section on hover */
.text-section a:hover {
    background-color: rgba(189, 212, 151, 1); /* Change background color on hover */
    color: black; /* Change text color on hover */
    transition: 0.3s ease; /* Add a smooth transition effect */
    border: 1px solid rgba(189, 212, 151, 1); /* Change border color on hover */
}

/* Style for spacing between main cards */
.space {
    height: 25px; /* Set the height of the space */
}

/* Style for the way to pay container */
.way-to-pay-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: absolute; /* Position absolutely */
    width: 100%; /* Take the full width */
    height: 100%; /* Take the full height */
    background-color: rgba(0,0,0, 0.7); /* Set the background color with transparency */
    z-index: 99; /* Set the z-index to ensure it's on top of other elements */
}

/* Style for the background container within the way to pay container */
.background {
    width: 50%; /* Set the width */
    height: 40%; /* Set the height */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    border-radius: 10px; /* Add rounded corners */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center text horizontally */
    color: white; /* Set text color */
}

/* Style for the delivery container */
.delivery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create a grid with three columns */
    gap: 20px; /* Set the gap between items */
    margin: 20px; /* Add margin */
}

/* Style for images within the delivery container */
.delivery-container img {
    width: 100%; /* Set the image width to 100% */
    border-radius: 20px; /* Add rounded corners */
}

/* Style for the menu container */
.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create a grid with three columns */
    gap: 15px; /* Set the gap between items */
    background-color: rgba(189, 212, 151, 0.4); /* Set the background color */
}

/* Style for sub-menu containers */
.sub-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create a grid with two columns */
    gap: 15px; /* Set the gap between items */
}

/* Style for menu cards */
.menu-card {
    margin: 25px; /* Add margin */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 2px 2px 2px black; /* Add a box shadow */
    border: 1px solid black; /* Add a border */
}

/* Style for menu card headings (h1) */
.menu-card h1 {
    text-align: center; /* Center text horizontally */
}

/* Style for links within menu cards */
.menu-card a {
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set the text color */
    text-align: center; /* Center text horizontally */
}

/* Style for images within menu cards */
.menu-card img {
    border-radius: 5px 5px 0px 0px; /* Add rounded corners to the top of the image */
    width: 100%; /* Set the image width to 100% */
}

/* Style for menu card action buttons (h2) */
.menu-card h2 {
    width: 30%; /* Set the width */
    text-decoration: none; /* Remove underlines from links */
    color: #ccc; /* Set the text color */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    padding: 10px; /* Add padding to the buttons */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add a border */
    text-align: center; /* Center text horizontally */
    margin-left: 35%; /* Set left margin */
}

/* Style for menu card action buttons (h2) on hover */
.menu-card h2:hover {
    background-color: rgba(189, 212, 151, 1); /* Change background color on hover */
    color: black; /* Change text color on hover */
    transition: 0.3s ease; /* Add a smooth transition effect */
    border: 1px solid rgba(189, 212, 151, 1); /* Change border color on hover */
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
}

/* Style for links with class 'slash' */
.slash {
    text-decoration: none; /* Remove underlines from links */
    cursor: default; /* Set the cursor to the default arrow */
}

/* Style for the main rewards section */
.main-section-rewards {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create a grid with two columns */
    padding-top: 20vh; /* Add top padding based on viewport height */
    padding-bottom: 20vh; /* Add bottom padding based on viewport height */
    background-color: rgba(189, 212, 151, 0.4); /* Set the background color */
}

/* Style for the left side of the main rewards section */
.main-left {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    margin-left: 5vw; /* Add left margin based on viewport width */
    margin-right: 5vw; /* Add right margin based on viewport width */
}

/* Style for the main rewards section's main heading (h1) */
.main-left h1 {
    font-size: 32px; /* Set the font size */
}

/* Style for the "Join Now" button on the main rewards section */
.main-left h2 {
    text-align: center; /* Center text horizontally */
    padding: 10px; /* Add padding */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    border-radius: 5px; /* Add rounded corners */
    width: 30%; /* Set the width */
}

/* Style for the "Join Now" button on hover */
.main-left h2:hover {
    background-color: rgba(189, 212, 151, 1); /* Change background color on hover */
    color: black; /* Change text color on hover */
    transition: 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
}

/* Style for the right side of the main rewards section (image) */
.main-right img {
    width: 100%; /* Set the image width to 100% */
}

/* Style for the "Getting Started" section */
#getting-started {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    margin: 75px; /* Add margin */
}

/* Style for the grid container within the "Getting Started" section */
.getting-started-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create a grid with three columns */
    gap: 50px; /* Set the gap between items */
}

/* Style for grid items within the "Getting Started" section */
.grid-item {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text horizontally */
}

/* Style for step numbers within grid items */
.grid-item h1 {
    font-size: 20px; /* Set the font size */
}

/* Style for step numbers within grid items */
.grid-item h3 {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    width: 50px; /* Set the width */
    height: 50px; /* Set the height */
    border-radius: 100%; /* Add a circular shape */
}

/* Style for the "Don't want to download the app?" section */
.survey-rewards {
    background-color: rgba(189, 212, 151, 0.4); /* Set the background color */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    padding: 50px; /* Add padding */
}

/* Style for links within the "Don't want to download the app?" section */
.survey-rewards a {
    text-decoration: none; /* Remove underlines from links */
    text-align: center; /* Center text horizontally */
    font-size: 20px; /* Set the font size */
    padding: 10px; /* Add padding */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    color: #eee; /* Set text color */
    border-radius: 5px; /* Add rounded corners */
    width: 20%; /* Set the width */
}

/* Style for links within the "Don't want to download the app?" section on hover */
.survey-rewards a:hover {
    background-color: rgba(189, 212, 151, 1); /* Change background color on hover */
    color: black; /* Change text color on hover */
    transition: 0.3s ease; /* Add a smooth transition effect */
}

/* Style for the "survey" section */
#survey {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Style for the survey container */
.survey-container {
    margin: 20px; /* Add margin */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    padding: 30px; /* Add padding */
    border-radius: 15px 15px 0 0; /* Add rounded corners to the top */
    color: #eee; /* Set text color */
}

/* Style for flexible input grid */
.flex-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Create a grid with four columns */
    row-gap: 20px; /* Set the gap between rows */
}

/* Style for span elements within flexible input grid */
.flex-input span {
    display: flex;
    align-items: center; /* Align content vertically */
}

/* Style for another flexible input grid */
.flex-input-2 {
    display: grid;
    grid-template-columns: 1fr 5fr; /* Create a grid with two columns */
}

/* Style for required elements */
#required {
    color: yellow; /* Set the text color to yellow */
}

/* Style for input elements within flexible grids */
.input-type input {
    width: 99%; /* Set the width to 99% */
    height: 5vh; /* Set the height */
    border: 1px solid yellow; /* Add a border with a yellow color */
    border-radius: 5px 5px 0 0; /* Add rounded corners to the top */
}

/* Style for select elements within flexible grids */
.input-type select {
    width: 100%; /* Set the width to 100% */
    height: 5vh; /* Set the height */
    border: 1px solid yellow; /* Add a border with a yellow color */
    border-radius: 5px 5px 0 0; /* Add rounded corners to the top */
}

/* Style for input elements within flexible grids */
.flex-input input {
    height: 3vh; /* Set the height */
}

/* Style for horizontal lines */
.style-line {
    width: 100%; /* Set the width to 100% */
    height: 10px; /* Set the height */
    background-color: yellow; /* Set the background color to yellow */
    border-radius: 0 0 5px 5px; /* Add rounded corners to the bottom */
}

/* Style for the finished survey section */
.finished-survey {
    display: flex;
    align-items: center; /* Align content vertically */
    justify-content: center; /* Center content horizontally */
}

/* Style for the container of the finished survey section's image */
.finished-survey-container img {
    width: 40vw; /* Set the width */
}

/* Style for the container of the finished survey section */
.finished-survey-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    margin: 20px; /* Add margin */
    width: 50vw; /* Set the width */
    background-color: rgba(217, 83, 49, 1); /* Set the background color */
    padding: 30px; /* Add padding */
    border-radius: 15px; /* Add rounded corners */
    color: #eee; /* Set text color */
    height: 100%; /* Set the height to 100% */
}

/* Style for the footer section */
footer {
    background-color: #333; /* Set the background color */
    color: #fff; /* Set text color */
    text-align: center; /* Center text horizontally */
    padding: 10px; /* Add padding */
}

/* Style for social media links within the footer */
.social-media-container {
    display: flex;
    align-items: center; /* Align content vertically */
    justify-content: space-around; /* Space items evenly horizontally */
}

/* Style for social media links within the footer */
.social-media-container a {
    text-decoration: none; /* Remove underlines from links */
    color: white; /* Set the text color */
}

/* Media Queries for responsive design */
@media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px */
    .navbar-container {
        display: flex;
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
    }

    .nav-items a{
        width: 80vw;
        text-align: center;
    }

    .order-online-button {
        justify-content: center;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .main-card {
        display: flex;
        flex-direction: column;
    }

    .text-section {
        border: 0;
        padding: 10px;
    }

    .main-card h1 {
        font-size: 30px;
    }

    .main-card h3 {
        display: none;
    }

    .menu-container {
        grid-template-columns: 1fr;
    }

    .sub-menu-container {
        grid-template-columns: 1fr;
    }

    .main-section-rewards {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-left {
        text-align: center;
    }

    .main-left h2 {
        margin-left: 35%;
    }

    .main-right {
        display: none;
    }

    .getting-started-grid-container {
        display: flex;
        flex-direction: column;
    }

    #getting-started p {
        text-align: center;
    }

    .survey-rewards p {
        text-align: center;
    }

    .survey-rewards a {
        width: 50%;
    }

    .way-to-pay-container {
        align-items: normal;
    }

    .background {
        width: 100%;
        margin: 20px;
    }

    .stores-container {
        display: flex;
        flex-direction: column;
    }
}